* { box-sizing: border-box; }
html { font-size: 62.5%; }
body {
  margin: 0;
  padding: 0;
  font-size: 1.8em;
  line-height: 1.3;
  color: #FFFFFF;
  background: rgb(2,0,36);
  background: linear-gradient(211deg, rgba(2,0,36,1) 0%, rgba(130,130,212,0.7698056801195815) 100%);}

h1 { font-size: 3rem; }
h2 { font-size: 2.4rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.8rem; }
h5 { font-size: 1.6rem; }
h6 { font-size: 1.4rem; }
form{margin-block-end: 0;}

.app-main {
    background-color: #18191abf;
    margin: auto;
    max-width: 65rem;
    border-radius: 1.2rem;
    border: 1px solid #2d2d32;
    margin-top: 15rem;
    padding: 5rem 5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    flex-direction: column;
    gap: 4rem;
}

.mm-button {
    background-color: white;
    border-radius: 1.2rem;
    border: #161619 1px solid;
    padding: 0.5rem 1rem;
    width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
    
.mm-button:hover {
    background-color: gray;
}

input,textarea { 
    background-color:#1D1D21; color: #FFFFFF; border-radius: 1.2rem;
    border: #2d2d32 1px solid;
}
.token-address {
    padding: 1rem 1rem;
    width: 100%;
}

.address-bar{
    flex-grow: 1;
}

.flex {
    display:flex
}

.checkbox-box{
align-items: center;
flex-direction: column;
justify-content: space-between;
}

.checkbox-box > input {
    width: 3rem;
    height: 3rem;
}

.flex-span {
    justify-content: space-between;
    padding-right: 3rem;
    margin-bottom: 1rem;
}
.csv-box {
    flex-direction: column;
    gap: 1rem;
}
#csv {
    width: 100%;
    height: 15rem;
    padding: 2rem;
    white-space: nowrap;
}

.address-container{
    gap: 2rem;
}

.continue {
    background-color: #286DF4;
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 1rem;
    padding: 1rem 1rem;
    width: 100%;
    border: #161619 1px solid;
}

.continue:hover {
    background-color: #1f55c1;
} 
.continue:active {
    background-color: #235fd5;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

label, textarea { display: block; }




